# backend files
backend/__pycache__/
backend/app/__pycache__/
backend/venv/
backend/password.py
backend/*.exe
backend/*.pyd

# frontend files
frontend/.DS_Store
frontend/node_modules
frontend/dist

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
