{% extends "/base_templates/base.html" %}

{% block body %}

<body class="signin-page-background">
  <div class="container signin-box-container justify-content-center vertical-center">
    <div class="card signin-box justify-content-center">
      <div class="card-body">
        <div>
          <h2 class="card-title text-center">KSU Course Planner</h2>
          <p class="slogan-subtext">A better way to plan your degree</p>
          <!-- put logo here maybe? -->
        </div>

        {% block content %}{% endblock %}

      </div>
    </div>
  </div>
  </div>
</body>
{% endblock %}