{% extends "/base_templates/nav_base.html" %}

{% block content %}
<!-- Select program/search bar -->
<div class="row">
    <div class="col" style="margin-top: 1rem;">
        <div class="dropdown course-dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Select a program
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Computer Science (B. S.)</a></li>
                <li><a class="dropdown-item" href="#">Biology (B. S.)</a></li>
                <li><a class="dropdown-item" href="#">English (B. A.)</a></li>
            </ul>
        </div>
        <div class="dropdown course-dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" disabled>
                Select a concentration
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <div class="dropdown course-dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" disabled>
                Sort Courses
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <div class="course-search">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" disabled>
                <button class="btn btn-primary" type="submit" disabled>Search</button>
            </form>
        </div>
        <hr>
    </div>
</div>
<!-- Course cards -->
<div class="row course-container">
    {% for course in cs_core %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card justify-content-center">
            <div class="card-body container-fluid">
                <div class="row">
                    <h5 class="card-title">Computer Science IA: Procedural Programming</h5>
                </div>
                <div class="row mb-1">
                    <span class="badge rounded-pill bg-primary course-badge">CS Core</span>
                    <span class="badge rounded-pill bg-secondary course-badge">3 Credits</span>      
                </div>
                <div class="row mb-3">
                    <p class="card-text">Computer science concepts, including algorithm development and
                        problem-solving strategies focused on programming and etc etc etc...
                        <a href="#">View more</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#"><i class="far fa-star fa-lg"></i></a>
                    </div>
                    <div class="col" style="text-align: right;">
                        <a href="#"><i class="fas fa-plus-circle fa-lg"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}

    {% for course in cs_electives %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card justify-content-center">
            <div class="card-body container-fluid">
                <div class="row">
                    <h5 class="card-title">Big Data Analytics</h5>
                </div>
                <div class="row mb-1">
                    <span class="badge rounded-pill bg-success course-badge">CS Elective</span>
                    <span class="badge rounded-pill bg-secondary course-badge">4 Credits</span>
                </div>
                <div class="row mb-3">
                    <p class="card-text">This course will introduce the state-of-art computing platforms with the focus on how to utilize them in processing (managing and analyzing) massive datasets...
                        <a href="#">View more</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#"><i class="far fa-star fa-lg"></i></a>
                    </div>
                    <div class="col" style="text-align: right;">
                        <a href="#"><i class="fas fa-plus-circle fa-lg"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

<!-- Additional requirements -->
<div class="row course-container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    View Additional Graduation Requirements
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Add</th>
                            <th scope="col">Category</th>
                            <th class="text-center" scope="col">Credits Needed</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#"><i class="fas fa-plus-circle fa-lg"></i></a></td>
                            <td>Foreign Language</td>
                            <td class="text-center">8</td>
                          </tr>
                          <tr>
                            <td><a href="#"><i class="fas fa-plus-circle fa-lg"></i></a></td>
                            <td>Kent Core Composition</td>
                            <td class="text-center">6</td>
                          </tr>
                          <tr>
                            <td><a href="#"><i class="fas fa-plus-circle fa-lg"></i></a></td>
                            <td>Kent Core Humanities and Fine Arts (minimum one course from each)</td>
                            <td class="text-center">9</td>
                          </tr>
                          <tr>
                            <td><a href="#"><i class="fas fa-plus-circle fa-lg"></i></a></td>
                            <td>Kent Core Humanities and Fine Arts (minimum one course from each)</td>
                            <td class="text-center">9</td>
                          </tr>
                          <tr>
                            <td><a href="#"><i class="fas fa-plus-circle fa-lg"></i></a></td>
                            <td>Kent Core Humanities and Fine Arts (minimum one course from each)</td>
                            <td class="text-center">9</td>
                          </tr>
                          <tr>
                            <td><a href="#"><i class="fas fa-plus-circle fa-lg"></i></a></td>
                            <td>Kent Core Humanities and Fine Arts (minimum one course from each)</td>
                            <td class="text-center">9</td>
                          </tr>
                          <tr>
                            <td><a href="#"><i class="fas fa-plus-circle fa-lg"></i></a></td>
                            <td>Computer Science (CS) Upper-Division Electives (30000 or 40000 level)</td>
                            <td class="text-center">6</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ensures all the courses can be seen when schedule is collapsed -->
<br><br><br>

<!-- <div class="semester-bar bg-light">
    <div class="accordion" id="accordionExample" style="width: 100vw;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne" style="padding-right: 2rem;">
                    My Schedule
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}