{% extends "/base_templates/signin_base.html" %}

{% block content %}
<div class="container mb-3">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 text-center">
            <p style="font-size: 0.9rem;">
                <a href="#">Forgot your password?</a>
                &nbsp; &#8226; &nbsp;
                <a href="{{ url_for('register') }}">Don't have an account?</a>
            </p>
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                What's KSU Course Planner?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    <strong>KSU Course Planner is a free course scheduling and degree planner app for Kent State
                        University students.</strong> Unlike services offered directly through the university
                    such as Visual Schedule Builder, KSU Course Planner allows you to plan out
                    your entire college career in advance, no matter how many semesters you
                    plan on attending. Sign up now to give it a try!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}