html, body {
    padding: 0;
    margin: 0;
}

#render-spinner {
    height: 3rem;
    width: 3rem;
    color: #5b3996;
    /* theme-primary-dark */
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

@keyframes spinner-border {
    100% {
        transform: rotate(360deg);
    }
}

#render-spiner-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    /* body color */
}

/* disabling since the text makes it a bit jarring once it loads 
      because there's no fade out */

/* #loading-text {
      color: #B6B6B6;
      margin-top: 2rem;
    } */